<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../src/css/anime.css">
  <link rel="stylesheet" type="text/css" href="../src/css/update-popup.css">
  <link rel="stylesheet" type="text/css" href="../src/css/search.css">
  <link rel="stylesheet" type="text/css" href="../src/css/download_popup.css">
  <link rel="stylesheet" type="text/css" href="../src/css/checkbox.css">
  <link rel="stylesheet" type="text/css" href="../src/css/style.css">
  <title>Anidown</title>
</head>
<body>
  <nav>
    <a href="./pokemon_hub.html">Pokemon Hub</a>
    <a href="./npokemon.html">npokemon</a>
  </nav>
  <form class="searchbar-container" id="search-form">
    <input class="search-text" type="text" placeholder="Search..." id="search-text">
    <button class="search-button btn" type="submit" id="search-button">Search</button>
  </form>
  <div class="download-popup-container">
    <div class="download-popup hidden" id="download-popup">
      <span class="delete-btn" id="delete-btn">&#10799</span>
      <div class="initial-buttons" id="initial-buttons">
        <button class="btn" id="download-all-btn">Download All</button>
        <button class="btn" id="download-between-btn">Download Between</button>
        <button class="btn" id="select-download-btn">Select Download</button>
      </div>
      <div class="select-download hidden" id="download-between">
        <div class="option-container">
          <input type="text" class="download-between-input" id="download-between-start" placeholder="Start">
          <input type="text" class="download-between-input" id="download-between-end" placeholder="End">
        </div>
        <button class="btn" id="download-between-episode">Download</button>
      </div>
      <div class="select-download hidden" id="select-download">
        <button class="select-btn btn" id="download-select-episode">Download</button>
        <div class="option-container" id="option-container">
          <!-- Checkboxes are added with JS. -->
        </div>
      </div>
    </div>
  </div>
  <div class="search-result-container" id="search-result-container">
    <!-- Search Results are added with JS. -->
  </div>
  <script type="text/javascript" src="../src/js/downloadProgress.js"></script>
  <script type="text/javascript" src="../src/js/makeFolder.js"></script>
  <script type="text/javascript" src="../src/js/sanatize.js"></script>
  <script type="text/javascript" src="../src/js/download.js"></script>
  <script type="text/javascript" src="../src/js/animeDownload.js"></script>
  <script type="text/javascript" src="../src/js/anime.js"></script>
</body>
</html>