<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../src/css/style.css">
  <link rel="stylesheet" type="text/css" href="../src/css/sauce.css">
  <link rel="stylesheet" type="text/css" href="../src/css/pokemon_hub.css">
  <link rel="stylesheet" type="text/css" href="../src/css/search.css">
  <link rel="stylesheet" type="text/css" href="../src/css/download_popup.css">
  <link rel="stylesheet" type="text/css" href="../src/css/anime.css">
  <link rel="stylesheet" type="text/css" href="../src/css/update-popup.css">
  <link rel="stylesheet" type="text/css" href="../src/css/checkbox.css">
  <title>Anidown</title>
</head>

<body>
  <nav class="top-nav">
    <div class="nav-container">
      <a class="navitem">Homepage</a>
      <a class="navitem">Anime</a>
      <a class="navitem">Pokemon Hub</a>
      <a class="navitem">NPokemon</a>
    </div>
    <div class="nav-dropdown-container">
      <button class="dropdown-button" id="dropdown-button">&#9776;</button>
      <div class="nav-dropdown nav-dropdown-hidden" id="nav-dropdown">
        <!-- The downloads are added with JavaScript. -->
      </div>
    </div>
  </nav>
  <main>
    <div class="webpage">
      <!-- This is the homepage. -->
    </div>

    <!-- Anime page -->
    <div class="webpage hidden">
      <form class="searchbar-container" id="anime-search-form">
        <input class="search-text" type="text" placeholder="Search..." id="anime-search-text">
        <button class="search-button btn" type="submit" id="search-button">Search</button>
      </form>
      <div class="download-popup-container">
        <div class="download-popup hidden" id="anime-download-popup">
          <span class="delete-btn" id="anime-delete-btn">&#10799</span>
          <div class="initial-buttons" id="anime-initial-buttons">
            <button class="btn" id="download-all-btn">Download All</button>
            <button class="btn" id="download-between-btn">Download Between</button>
            <button class="btn" id="select-download-btn">Select Download</button>
          </div>
          <div class="select-download hidden" id="download-between">
            <div class="option-container">
              <input type="text" class="download-between-input" id="download-between-start" placeholder="Start">
              <input type="text" class="download-between-input" id="download-between-end" placeholder="End">
            </div>
            <button class="btn" id="download-between-episode">Download</button>
          </div>
          <div class="select-download hidden" id="select-download">
            <button class="select-btn btn" id="download-select-episode">Download</button>
            <div class="option-container" id="option-container">
              <!-- Checkboxes are added with JS. -->
            </div>
          </div>
        </div>
      </div>
      <div class="search-result-container" id="anime-search-result-container">
        <!-- Search Results are added with JS. -->
      </div>
    </div>

    <div class="webpage hidden">
      <div class="download-popup-container">
        <div class="download-popup hidden" id="ph-download-popup">
          <span class="delete-btn" id="ph-delete-btn">&#10799</span>
          <div class="initial-buttons" id="ph-initial-buttons">
            <!-- Adding options with JS. -->
          </div>
        </div>
      </div>
      <form class="searchbar-container" id="ph-search-form">
        <input class="search-text" type="text" placeholder="Search..." id="ph-search-text">
        <button class="search-button btn" type="submit" id="search-button">Search</button>
      </form>
      <div class="header-video" id="header-video">
        <!-- When related video is shown, the main video is added here with js. -->
      </div>
      <div class="search-result-container" id="ph-search-result-container">
        <!-- Search Results are added with JS. -->
      </div>
    </div>

    <!-- NPokemon page -->
    <div class="webpage hidden">
      <div class="download-main-container">
        <h1 class="title">Give the ID of any manga and press download.</h1>
        <div class="download-container">
          <input type="text" id="sauce" placeholder="Sauce">
          <button id="single-download-btn">Download</button>
        </div>
        <div class="download-container">
          <input type="text" id="start" placeholder="Start">
          <input type="text" id="end" placeholder="End">
          <button id="range-download-btn">Download</button>
        </div>
      </div>
    </div>
  </main>
  <!-- All the javascript for the page. -->
  <script type="text/javascript" src="../src/js/global.js"></script>
  <script type="text/javascript" src="../src/js/nav.js"></script>
  <script type="text/javascript" src="../src/js/downloadProgress.js"></script>
  <script type="text/javascript" src="../src/js/makeFolder.js"></script>
  <script type="text/javascript" src="../src/js/sanatize.js"></script>
  <script type="text/javascript" src="../src/js/download.js"></script>
  <script type="text/javascript" src="../src/js/animeDownload.js"></script>
  <script type="text/javascript" src="../src/js/anime.js"></script>
  <script type="text/javascript" src="../src/js/pokemonhubDownload.js"></script>
  <script type="text/javascript" src="../src/js/pokemon_hub.js"></script>
  <script type="text/javascript" src="../src/js/npokemonDownload.js"></script>
  <script type="text/javascript" src="../src/js/npokemon.js"></script>
</body>

</html>