<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../src/css/style.css">
  <link rel="stylesheet" type="text/css" href="../src/css/sauce.css">
  <title>Anidown</title>
</head>
<body>
  <nav class="top-nav">
    <div class="nav-container">
      <a class="navitem" href="./pokemon_hub.html">Pokemon Hub</a>
      <a class="navitem" href="./anime.html">Anime</a>
    </div>
    <div class="nav-dropdown-container">
      <button class="dropdown-button" id="dropdown-button">&#9776;</button>
      <div class="nav-dropdown nav-dropdown-hidden" id="nav-dropdown">
        <!-- Add with Javascript -->
      </div>
    </div>
  </nav>
  <h1>Hey Welcome to the new</h1>
</body>
</html>