<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../src/css/sauce.css">
  <link rel="stylesheet" type="text/css" href="../src/css/style.css">
  <title>NPokemon</title>
</head>
<body>
  <nav>
    <a href="./pokemon_hub.html">Pokemon Hub</a>
    <a href="./anime.html">Anime</a>
  </nav>
  <div class="download-main-container">
    <h1 class="title">Give the ID of any manga and press download.</h1>
    <div class="download-container">
      <input class="sauce" type="text" id="sauce" placeholder="Sauce">
      <button id="single-download-btn">Download</button>
    </div>
    <div class="download-container">
      <input class="sauce" type="text" id="start" placeholder="Start">
      <input class="sauce" type="text" id="end" placeholder="End">
      <button id="range-download-btn">Download</button>
    </div>
  </div>
  <script type="text/javascript" src="../src/js/makeFolder.js"></script>
  <script type="text/javascript" src="../src/js/sanatize.js"></script>
  <script type="text/javascript" src="../src/js/download.js"></script>
  <script type="text/javascript" src="../src/js/npokemonDownload.js"></script>
  <script type="text/javascript" src="../src/js/npokemon.js"></script>
</body>
</html>