<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../src/css/search.css">
  <link rel="stylesheet" type="text/css" href="../src/css/style.css">
  <title>Pokemon Hub</title>
</head>
<body>
  <nav>
    <a href="./index.html">Anime</a>
    <a href="./npokemon.html">npokemon</a>
  </nav>
  <form class="searchbar-container" id="search-form">
    <input class="search-text" type="text" placeholder="Search..." id="search-text">
    <button class="search-button btn" type="submit" id="search-button">Search</button>
  </form>
  <div class="search-result-container" id="search-result-container">
    <!-- Search Results are added with JS. -->
  </div>
  <script type="text/javascript" src="../src/js/pokemon_hub.js"></script>
</body>
</html>