<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../src/css/pokemon_hub.css">
  <link rel="stylesheet" type="text/css" href="../src/css/search.css">
  <link rel="stylesheet" type="text/css" href="../src/css/download_popup.css">
  <link rel="stylesheet" type="text/css" href="../src/css/style.css">
  <title>Pokemon Hub</title>
</head>
<body>
  <nav>
    <a href="./anime.html">Anime</a>
    <a href="./npokemon.html">npokemon</a>
  </nav>
  <div class="download-popup-container">
    <div class="download-popup hidden" id="download-popup">
      <span class="delete-btn" id="delete-btn">&#10799</span>
      <div class="initial-buttons" id="initial-buttons">
        <!-- Adding options with JS. -->
      </div>
    </div>
  </div>
  <form class="searchbar-container" id="search-form">
    <input class="search-text" type="text" placeholder="Search..." id="search-text">
    <button class="search-button btn" type="submit" id="search-button">Search</button>
  </form>
  <div class="header-video" id="header-video">
    <!-- When related video is shown, the main video is added here with js. -->
  </div>
  <div class="search-result-container" id="search-result-container">
    <!-- Search Results are added with JS. -->
  </div>
  <script type="text/javascript" src="../src/js/makeFolder.js"></script>
  <script type="text/javascript" src="../src/js/sanatize.js"></script>
  <script type="text/javascript" src="../src/js/download.js"></script>
  <script type="text/javascript" src="../src/js/pokemonhubDownload.js"></script>
  <script type="text/javascript" src="../src/js/pokemon_hub.js"></script>
</body>
</html>