html {
  scroll-behavior: smooth;
}
.pokemon-hub-image {
  width: 320px;
  height: 180px;
  cursor: pointer;
}
.header-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.max-hr {
  width: 90%;
}
