/* Common styling for all pages. */
:root {
  --black-prm: hsl(225, 6%, 13%);
  --black-sec: hsl(225, 4%, 20%);
  --white-prm: hsl(83, 27%, 94%);
  --white-sec: hsl(0, 0%, 78%);
  --gray-prm: hsl(0, 0%, 45%);
  --orange-prm: hsl(0, 100%, 63%);
  --orange-sec: hsl(0, 100%, 67%);
  --red-prm: hsl(4, 90%, 58%);
  --green-prm: hsl(135, 100%, 75%);
  --green-sec: hsl(135, 100%, 55%);
  --purple-prm: hsl(236, 75%, 65%);
  --purple-sec: hsl(236, 75%,72%);
}
*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--black-prm);
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  background-color: var(--black-sec);
  border-bottom: 1px solid var(--gray-prm);
}

/* Functions for all pages to use. */
.btn {
  font-size: 1.3rem;
  padding: 0.25em 0.5em;
  background-color: var(--purple-prm);
  border: 0;
  outline: 0;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--purple-sec);
}
.hidden {
  display: none;
}

.deleted {
  text-decoration: line-through;
}
