/* Common styling for all pages. */
:root {
  --clr-primary: hsl(135, 100%, 75%);
  --clr-secondary: hsl(135, 100%, 55%);
  --fnt-clr: hsl(83, 27%, 94%);
  --clr-black-primary: hsl(0, 0%, 21%);
  --clr-black-secondary: hsl(0, 0%, 31%);
  --gray-primary: hsl(0, 0%, 45%);
}
*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--clr-black-primary);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Code for nav */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--clr-black-secondary);
  border-bottom: 1px solid var(--gray-primary);
}
.nav-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navitem {
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--fnt-clr);
  background-color: transparent;
  padding: 1rem 0.5rem;
  border: 1px solid transparent;
}
.navitem:hover {
  background-color: var(--clr-black-primary);
  border-top: 1px solid var(--gray-primary);
  border-right: 1px solid var(--gray-primary);
  border-left: 1px solid var(--gray-primary);
}
.nav-dropdown-container {
  display: flex;
  padding: 0 0.5em;
}
.nav-dropdown-container .dropdown-button {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
  border: 0;
}
.nav-dropdown {
  --nav-dropdown-top: 3rem;
  --nav-dropdown-width: 30vw;
  box-sizing: border-box;
  width: var(--nav-dropdown-width);
  position: absolute;
  overflow: auto;
  background-color: var(--clr-black-primary);
  height: calc(100vh - var(--nav-dropdown-top));
  top: var(--nav-dropdown-top);
  right: 0;
  border-radius: 0.3em;
  border: 1px solid var(--gray-primary);
  transition: all 0.5s ease;
}
.nav-dropdown > * {
  color: var(--fnt-clr);
  padding: 0.5rem;
  border-bottom: 1px solid var(--gray-primary);
  background-color: var(--clr-black-secondary);
}
.nav-dropdown > *:hover {
  background-color: var(--clr-black-primary);
}
.nav-dropdown-hidden {
  top: 0;
  opacity: 0;
  pointer-events: none;
  /* right: calc(-1.2 * var(--nav-dropdown-width)); */
}

/* Functions for all pages to use. */
.btn {
  font-size: 1.3rem;
  padding: 0.25em 0.5em;
  background-color: var(--clr-primary);
  border: 0;
  outline: 0;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--clr-secondary);
}
.hidden {
  display: none;
}
